


/*Incorporar css que aplique al contenido propio de la página del artículo*/

html{
    height: 200vh;
    
}



/* TEST LOGIC FOR DESKTOP*/

@media screen and (min-width: 455px){

    main{
        display: flex;
        gap: 2rem;
        max-width: 80%;
        margin: 2rem auto;
    }

    .sticky{
        height: 10rem;
        width: 10rem;
        position:sticky;
        top:20rem;
        
    }

    #h1-article{
        font-size: 42px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      

    }
    #h2-article{

        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 24px;
    
   }

   p.pilcrow{
    font-size: 18px;
   }

    
  }
