/*BASE clean*/


body{
  margin:1rem;
}



  /*NAV*/
  
  nav{
      position:sticky;
      top:0;
      font-family: 'Neue Haas Grotesk Text Std', sans-serif; 
  

     
    
    }
  
    .navBar{
      z-index:9999;
      /*background-color: rgb(29, 133, 214);*/
      height: 50px;
      background-color: white;
      border-bottom: 1px solid black;
      
  
    }
   /* Create a top navigation bar with a black background color  */
    .topnav {
    background-color:white;
    overflow: hidden;
    z-index: 999999;
    }
  
  /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 12px;
    }
   /* Create a right-aligned (split) link inside the navigation bar */
    .topnav a.buttonMenu {
      float: right;
      background-color: white;
      color: black;
    }
    
    .buttonMenu{
      display: none;
    }
    
    /* MENU RESPONSIVE*/
  
    
    .overlay {
      text-align: center;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 99999;
      top: 0;
      right: 0;
      background-color: rgb(0,0,0);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {

      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      font-family: "IBM Plex Mono", monospace;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
      
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    


    /* TEST LOGIC FOR DESKTOP*/

    @media screen and (min-width: 455px){
/*
      p.pilcrow{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        width:750px;
        padding-bottom: 3rem;

      }*/

      /*Button PDF*/

      #button-pdf {
        cursor: pointer;
        position:relative;
        left:45%;
        background-color: rgb(35, 33, 33);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        display:inline-block;
        cursor: pointer;
        border-radius: 3px;
      }


      /*FOOTER*/

      .footer-cointainer{
        
        padding-bottom: 4rem;
        border-top: 1px solid black;
        font-family: 'Neue Haas Grotesk Text Std', sans-serif; 
        background-color: white;
        /*margin-top: 10px;*/
      }
      .footer{
        width:80%;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin:0 auto;
  
      }

      .footer-heading{
        display:flex;
        flex-direction:column;
        margin-right:4rem;

      }

      .footer-heading h2{
        margin-bottom: 2rem;
        font-size:14px;
        }

      .footer-heading a{
        color:black;
        text-decoration:none;
        margin-bottom:0.5rem;
        font-size: 12px;

      }

      .footer-heading a:hover{
        color:blue}
      
        #brand{
          font-size: 13px;
         }

    }

   
  
    /* LOGIC FOR MOBILE*/
  
    @media screen and (max-width: 450px){

      /*Bloquear movimiento horizontal*/

      html, body {
        overflow-x: hidden;
      }
      nav{
        position: fixed;
        top: 0;
        width: 95%
      }
     
      body {
        position: relative
      }

      h2{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      /*FOOTER*/

      .footer-cointainer{
        
        padding-bottom: 4rem;
        border-top: 1px solid black;
        font-family: 'Neue Haas Grotesk Text Std', sans-serif; 
        background-color:white;
      }
      .footer{
        width:80%;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin:0 auto;

      }

      .footer-heading{
        display:flex;
        flex-direction:column;
        margin-right:4rem;

      }

      .footer-heading h2{
        margin-bottom: 2rem;
        font-size:12px;
        }

      .footer-heading a{
        color:black;
        text-decoration:none;
        margin-bottom:0.5rem;
        font-size:12px;

      }

      .footer-heading a:hover{
        color:blue
      }


       .footer-heading{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 50px;

      }  
     
     #brand{
      font-size: 10px;
     }
  
      
      /*Paragraphs*/
      /*

      p {
        margin: 0;
        text-indent: 3ch;
      }
      
      p.pilcrow {
         text-indent: 0;
         display: inline;
      }
      */
    
      .buttonMenu{
        color:black;
        background-color: black;
        font-size: 15px;
        display: flex;
        position:relative;
        top:0;
        float:right;
        padding-top:20px;
        z-index:9999;
        
      }
    

      .buttonMenu.active{

        display:none;
        position:sticky;
        top:0;
        float:right;
        padding-top:20px;
        pointer-events: none;
        
      }
    
      .closebtn{
        color:white;
        background: none;
        border: none;
        font-size: 40px;
        margin-top: 150px;
      }
      /* I put after to ad content property which is the symbol*/

      .closebtn:after{
        content:'\2715';
        background: none;
        border: none;
        font-size: 40px;
        
      }
    
      .closebtn.active{
        background: none;
        color:white;
        border: none;
        z-index:9999;
        font-size: 40px;
      }
  
      .overlay a {
        font-size: 30px;
    
      }
    
      .overlay.active{
      font-size: 40px;
      top: 15px;
      right: 21px;
      }
  
      .sticky{
        display:none;
      }

  
      .navBar.active{
        z-index:0;
    
      }

      /*Search bar - Mobile*/
      
      
      .placeholderMobile {
        height:30px;
        border:none;
        border-radius: 3px;
        font-size: medium;
        font-family: "IBM Plex Mono", monospace;
      }

      .searchButton {
        height: 30px;
        border:none;
        border-radius: 3px;
        font-size: medium;
        font-family: "IBM Plex Mono", monospace;
      }


      /*Search Bar*/
  
      #Search-Bar-Desktop{
        display: none;
      }
  
      #Search-Bar-Mobile h1 {
        color:white;
        display: block;
        position: relative;
    
      }
  
      #Search-Bar-Mobile {
        white-space: nowrap;
        overflow-x: auto;
        color:white;
       
      }
      #Input-and-Button {
  
        display:inline-block;
       
      }
  
  
      /*Conent block*/
      #content{
        padding-top:10%;
  
      }

      /*BUTTON PDF*/

      #button-pdf{
        margin-top:20px;
        display: flex;
        cursor: pointer;
        position:relative;
        left:30%;
        background-color: rgb(35, 33, 33);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        display:inline-block;
        cursor: pointer;
        border-radius: 3px;
      }
  }
      
  

