/*CSS image*/

#image-container{
  padding-top:15px
}
/*Para ajustar la imagen y el div*/

#image-container img{
  max-width: 1200px;
  max-height: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.index-image{
  border-radius: 10px;
}
h1{
  /*font-size: 4rem;*/
  /*line-height: 72px;*/
  font-family: Helvetica, sans-serif;
  color: black;
}


/*CSS - Main Titles*/

#heading-xs-vision{
  font-size: 1.5rem;
  line-height: 24px;
  color:black;
}

#heading-xs-goal{
  font-size: 1.5rem;
  line-height: 24px;
  color:black;
}

/*Button PDF*/
#button {
  
  cursor: pointer;
  position:relative;
  left:35%;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display:inline-block;
  cursor: pointer;
  border-radius: 16px;

}

.tab {
  text-indent: 5%;
  margin-left: 10%;
  margin-right:10%;
  
}

/*NAV*/

nav{
    position:sticky;
    top:0;
    font-family: Roboto Mono,monospace;
   
  
  }
 
  .navBar{
    z-index:9999;
    /*background-color: rgb(29, 133, 214);*/
    background-color: white;
    border-bottom: 1px solid black;
  }
  
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    background:transparent;
  }
  li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  li a {
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-weight: bold;
    
  }
  
  
  /* MENU RESPONSIVE*/
  /*NOTA: quedarían modificar los efectos del menú*/
  
  .buttonMenu{
  
    display:none;
      
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
  
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto Mono,monospace;
  
  
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


  @media screen and (max-width: 450px) {

  
    .buttonMenu{
      display: flex;
      position:sticky;
      top:0;
      float:right;
      padding-top:20px;
      z-index:9999;
      
    }
    .buttonMenu.active{
      display: flex;
      position:sticky;
      top:0;
      float:right;
      padding-top:20px;
      pointer-events: none;
      
      
    }
  
    .closebtn{
      background: none;
      border: none;
      color:white
    }
  
    .closebtn.active{
      background: none;
      border: none;
      color:white;
      z-index:9999;
  
    }
  
    .navBar{
    display:none
    }
  
    .overlay a {
      font-size: 30px
  
    }
  
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 21px;
    }

    .sticky{
      display:none;
    }

    /*Button PDF*/
    #button {
  
      left:18%;
      
    
    }
  
  } 