
{% extends "blog/base.html" %}
{% load static %}
{%block title%}Mi blog{%endblock%}
<{% block header-articlescss %} href= "{% static 'blog/articles.css' %}" {% endblock %} >


{%block content%} 

<!-- Blog section-->
<section id="blog">
    <!-- Heading-->
    <div class="blog-heading">
        <h3>MARKETING DIGITAL</h3>
        <span>My recent post</span>

    </div>

    <!-- Blog container-->

    <div class="blog-container">
        {%for article in articles%}
        <!-- Box 1-->
        <div class="blog-box">
            <!-- Img-->
            <div class="blog-img">
                <!-- <img src="{% static 'blog/images/coche.jpeg' %}" alt="">-->
                <img src="{{ article.image_article_list.url }}" alt="">
            </div>
    
            <!--Text-->
            <div class="blog-text">
                <span>{{article.published}} | Nirvana Digital</span>
                <a href='{{ article.get_absolute_url }}' class="blog-title">{{article.title}}</a>
                <p>{{article.article_description}}</p>
                <a href='{{ article.get_absolute_url }}'>Leer más</a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>


<div class="accordion-test">
    <h3>Todo el Contenido</h3>

    <button class="accordion">Base Técnica</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
    
    <button class="accordion">Base Analítica</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
    
    <button class="accordion">Base Estratégica</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    
    
    </div>

</div>



<script>
var acc = document.getElementsByClassName("accordion");
for (var i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{%endblock%} 


