
{% extends "blog/base_clean.html" %}
{% load static %}
<{% block header-articlecss %} href= "{% static 'blog/article.css' %}" {% endblock %} >
    {%block content%} 

    <main>
        <article>  
            <h1 id = "h1-article">No Awarness</h2>
            <h2 id = "h2-article">¿Qué es un DataLayer?</h2>
            <i>(Naam to suna hi hoga) </i>
                <ul class = "idea" style="list-style-type:disc">
                    <li class="test_listado">US</li>
                    <li>Australia</li>
                    <li>New Zealand</li>
                </ul>
                <p class="pilcrow">La capa de datos comúnmente denominado “Datalayer” en el mundo digital no es otra cosa que
                     las necesidades de negocio traducidas a un conjunto de necesidades técnicas.

                    De esta definición surgen 2 ideas que son clave: 
                    
                    1) Las “necesidades de negocio”
                    
                    2) La idea de “traducción a necesidades técnicas”
                    
                    **NOTA**: Estás ideas serán desarrolladas en los siguientes bloques (en el bloque x,x)</p>
                <p class="pilcrow">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
                    Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
                    of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
                    of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>
                    <p class="pilcrow">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
                        Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
                        of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
                        of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>
                <p class="pilcrow">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
                Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>
                <p class="pilcrow">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
                Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>
                <p class="pilcrow">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
                Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
                of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>
               


        </article>  
        <aside class="sticky">Side Bar
            <p>Importante</p>
            <p>Importante</p>
            <p>Importante</p>
        </aside>
    </main>

    <!-- Script para pintar datos en consola-->

    <script type="text/javascript">
        var test_json = {
    
            'products':[{% for number in numbers %} {
                'id': '{{number}}'},{% endfor %}] 
        };
        var obj = {{obj_as_json | safe}};
    </script>

    <!-- END script -->

    {%endblock%} 


