<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href= "{% static 'blog/base.css' %}">
    {%block header%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-text-std" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,600&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Poppins:wght@300;400;500;600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" {% block header-indexcss %}{% endblock %}>
    <link rel="stylesheet" {% block header-articlecss %}{% endblock %}>
    <link rel="stylesheet" {% block header-articlescss %}{% endblock %}>
    <link rel="stylesheet" {% block header-formLeadscss %}{% endblock %}>

    
                
     <!-- Google Tag Manager -->
    
    <script>window.dataLayer = window.dataLayer || [];
   
    dataLayer.push({'event':"pageview",
        'pagePath':'{{dataLayer.pagePath|escapejs}}',
        'pageCategory':'{{dataLayer.pageCategory|escapejs}}',
        'articleTags':'{{dataLayer.articleTags|escapejs}}',
        'articleTitle':'{{dataLayer.articleTitle}}',
        'articleCategory':'{{dataLayer.articleCategory}}',
        'articleLength':'{{dataLayer.articleLength}}',
        'articleId':'{{dataLayer.articleId}}',

     
    })
    
    </script>
    <!-- console.log('{{dataLayer|escapejs}}')-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NRNFB4B');</script>
    <!-- End Google Tag Manager -->
    {%endblock%}
</head>
<body> 

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRNFB4B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



     <!-- Menú: Focalizado para mobile &#8339; &#xf09b;-->
    <div id="myNav" class="overlay">
        <button class="closebtn" onclick="closeNav()"></button>
        <div class="overlay-content">
          <a>.who_is()</a>
          <a>.projects()</a>
          <a>.Contact()</a>
        <a href ="https://github.com/ManuData"  target="_blank" style="text-decoration:none"><i class="fa fa-github" style="font-size:36px"></i></a> 
          
            <!--Search bar Mobile -->
            <div id="Search-Bar-Mobile">
              <div id ="Input-and-Button">
                    <form action="{% url 'search_results' %}" method="get">
                        <input class ="placeholderMobile" name="q" type="text" placeholder="Buscar contenido...">
                        <button type = "submit" class = "searchButton">Buscar</button>
                    </form>
                </div>
            </div>
            <!-- End Search bar  -->
        </div>
    </div>
        <!-- Menú: Focalizado para Desktop y Mobile &#8942;  -->
    <nav class = "navBar">
        <div class="topnav">
            <a href="{% url 'index' %}">INICIO</a> <!--Para hacer testing incluir # para marcar hacer fake en el click-->
            <a href="{% url 'articles' %}">ARTÍCULOS</a>
            <a href="#contact">LIBROS</a>
            <a href = "#about" class="buttonMenu" onclick="openNav()">[+]</a>
        </div>
    </nav>

      <!--Search bar Desktop   -->
    <div id = "Search-Bar-Desktop">
        <form action="{% url 'search_results' %}" method="get" >
            <input name="q" type="text" placeholder="Buscar contenido...">
            <button>Buscar</button>
        </form>
        <!-- End Search bar  -->
    </div>

         <!-- CONTENIDO ESPECÍFICO DE CADA PÁGINA -->
    <div id ="content">

        {% block content %}
        {% endblock %}

    <!-- FOOTER -->
        <div class="footer-cointainer">

            <div class="footer">
                <div class="footer-heading footer-1">
                    <h2>ABOUT ME</h2>
                    <a href="#">DEMO</a>
                    <a href="#">BLOG</a>
                    <a href="#">PDF</a>
                    <a href="#">DIGITAL ROLE MAPS</a>
                </div>
                <div class="footer-heading footer-2">
                    <h2>CONTACT US</h2>
                    <a href="#">SUPPORT</a>
                    <a href="#">FAQ</a>
                    <a href="#">SPONSHORSHIPS</a>
                    <a href="#">...</a>
                </div>
                <div class="footer-heading footer-3">
                    <h2>SOCIAL MEDIA</h2>
                    <a href="#">INSTAGRAM</a>
                    <a href="#">FACEBOOK</a>
                    <a href="#">YOUTUBE</a>
                    <a href="#">PINTEREST</a>
                </div>
            </div>
            
        </div>
         <p id="brand">Company &#169; W3docs. All rights reserved.</p>
    </div>

      
        <!-- SCRIPTS -->

    <script>


        function openNav() {

            /*Efecto overlay*/
            setTimeout(() => {
                document.getElementById("myNav").style.width = "100%";}, 150)
            $.fx.speeds.xslow = 2000; // 'xslow' means 2 second
            $(".overlay-content" ).fadeIn( "xslow");
            $(".closebtn").fadeIn( "xslow");
            /*document.getElementById("myNav").style.width = "100%";*/

            navBar = document.getElementsByClassName("navBar");
            navBar[0].classList.toggle('active');
            
            /*Incorporación de clase Active en el menú mobile cuando se genera click */

            botonMobile = document.getElementsByClassName("buttonMenu");
            botonMobile[0].classList.toggle('active');

            /*Incorporación de clase Active en la "X" de cierre mobile cuando se genera click */
            closeBtn = document.getElementsByClassName("closebtn");
            closeBtn[0].classList.toggle('active');
            /*Efectos*/
            
        }
        
        function closeNav() {

            /*Efectos*/
            document.getElementById("myNav").style.width = "0%";

            /*Elimino las clases*/
            botonMobile[0].classList.remove('active');
            closeBtn[0].classList.remove('active');
            navBar[0].classList.remove('active');
            $.fx.speeds.xfast = 100; 
            $( ".overlay-content" ).fadeOut( "xfast");
            $(".closebtn").fadeOut( "xfast");

        }


         /*Eventos para el click en descargar pdf */

        try{document.getElementById("button-pdf").addEventListener("click", dynamicDataLayer);
        function dynamicDataLayer() {
            dataLayer.push({'event':"pdf download",
                             'pagePath':'{{dataLayer.pagePath|escapejs}}',
                             'pageCategory':'{{dataLayer.pageCategory|escapejs}}',
                             'articleTags':'{{dataLayer.articleTags|escapejs}}',
                             'articleTitle':'{{dataLayer.articleTitle}}',
                             'articleCategory':'{{dataLayer.articleCategory}}',
                             'articleLength':'{{dataLayer.articleLength}}',
                             'articleId':'{{dataLayer.articleId}}'})
        }}
        catch(err){
            console.log(err)
        }
    </script>


 

</body>
</html>

