{% extends "blog/base.html" %}
{% load static %}



        
    {%block content%} 

<h1 class="tab">"VISION"</h1>
<p class = "tab" id="heading-xs-vision">Blog que me hubiera encantado descubrir hace 10 años para comenzar en el mundo digital</p>
<h1 class ="tab" >"GOAL"</h1>
<p class = "tab"id="heading-xs-goal"> El objetivo del blog es proporcionar contenido CORE que permita establecer unas bases de conocimiento sólidas 
    para poder progresar a nivel personal y profesional.</p>
<h1 class ="tab" >"VALOR"</h1>
 <p class = "tab"id="heading-xs-goal"> Descarga pdf para entender como sacarle máximo valor al contenido</p>
 <button class = "tab" id="button">
    <a href="{% static 'pdf/Einreiseanmeldung.pdf'%}" download="" style="color:white;text-decoration: none;">Descargar PDF</a>
</button>




    <!-- Script para pintar datos en consola-->

    <script type="text/javascript">
        var test_json = {
    
            'products':[{% for number in numbers %} {
                'id': '{{number}}'},{% endfor %}] 
        };
        var obj = {{obj_as_json | safe}};
    </script>

    <!-- END script -->

    {%endblock%} 


