{% extends "blog/base.html" %}
{% load static %}

        
    {%block content%} 

<h1 class="tab">"VISION"</h1>

<p class = "tab" id="heading-xs-vision">Blog que me hubiera encantado descubrir hace 10 años para comenzar en el mundo digital</p>

<h1 class ="tab" >"GOAL"</h1>

<p class = "tab"id="heading-xs-goal"> El objetivo del blog es proporcionar contenido CORE que permita establecer unas bases de conocimiento sólidas 
    para poder progresar a nivel personal y profesional.</p>

<h1 class ="tab" >"VALOR"</h1>
 <p class = "tab"id="heading-xs-valor"> Descarga pdf para entender cómo sacarle máximo valor al contenido</p>

 <button id="button-pdf">
    <a href="{% static 'pdf/Einreiseanmeldung.pdf'%}" download="" >Descargar PDF</a>
</button>
<div id="image-container">
    <img class = "index-image" src= "{% static 'blog/images/background.jpg' %}"> 
</div>

<div id="image-container">
    <img class = "index-image" src= "{% static 'blog/images/test.png' %}"> 
</div>
 


    <!-- Script para pintar datos en consola-->

    <script type="text/javascript">
        var test_json = {
    
            'products':[{% for number in numbers %} {
                'id': '{{number}}'},{% endfor %}] 
        };
        var obj = {{obj_as_json | safe}};
    </script>

    <!-- END script -->

    {%endblock%} 


