{% extends "blog/base.html" %}
{% load static %}

{%block title%}Pagina inicio{%endblock%}
<{% block header-indexcss %} href= "{% static 'blog/index.css' %}" {% endblock %} >

{%block content%} 

  

    
  
             <div class="accordion-test">
                <h3>Proyectos blog</h3>
              
                <!--Seccion base técnica-->
              
                <button class="accordion">Base Técnica</button>
                <div class="panel">
                
                   
                    <a href='{{ article.get_absolute_url }}'> <p>test</p></a>
                </div>
                
                <!--Seccion base analítica-->
              
                <button class="accordion">Base Analítica</button>
                <div class="panel">
              
                    <a href='{{ article.get_absolute_url }}'> <p>test</p></a>
                 
              
                </div>
              
                <!--Seccion base estratégica-->
                
                <button class="accordion">Base Estratégica</button>
                <div class="panel">
              
                    <a href='{{ article.get_absolute_url }}'> <p>test</p></a>
                 
              
                </div>
              
              </div>       
              <script>
                var acc = document.getElementsByClassName("accordion");
                for (var i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");
                
                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                    }
                  });
                }
                </script>


{%endblock%} 


