{% extends "blog/base.html" %}
{% load static %}

{%block title%}Pagina inicio{%endblock%}
{% block header-logoscss%} href= "{% static 'blog/logos.css' %}" {% endblock %}

{%block content%} 

  

<div class="table">
  <div class="table-row">
    <div class="table-cell">
        <img class = "black" src="{% static 'blog/images/02_alaskaalaska.svg'%}">
    </div>
    <div class="table-cell">
        <img class = "black" src="{% static 'blog/images/00_virgil-securities.svg'%}">
    </div>
    <div class="table-cell">
        <img class = "black" src="{% static 'blog/images/00_virgil-securities.svg'%}">
    </div>
    <div class="table-cell">
        <img class = "black" src="{% static 'blog/images/28_pastpresentfuture.svg'%}"">
    </div>
  </div>
</div>
{%endblock%} 


