
{% extends "blog/base.html" %}
{% load static %}

{%block title%}Pagina inicio{%endblock%}
<{% block header-testcss %} href= "{% static 'blog/test.css' %}" {% endblock %} >


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
{%block content%} 

<form method="POST" id="post-form">
    {% csrf_token %}
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
     <div class="form-group">
       <label>Description</label>
       <select id="salary-ranges" name="ranges">
            <option value="select">Selecciona un rango</option>
            <option value="menos de 35K">Menos de 35K</option>
            <option value="Entre 35k-60k">Entre 35K y 60K</option>
            <option value="Más de 60k">Más de 60 K</option>
     </select>
     </div>
     <button id="submit" type="submit" class="btn btn-primary">Submit</button>
     <div id="result"></div>
  </form>



<script src="../../static/blog/scripts/main.js"></script>   

{%endblock%} 

